{{> header}}
  <style>
    .pagination {
        justify-content: center; /* Center the pagination */
    }
    .pagination .page-item.active .page-link {
        background-color: #007bff; /* Change to desired color for active page number */
        border-color: #007bff; /* Change to desired border color for active page number */
    }
    .pagination .page-link {
        color: #007bff; /* Change to desired color for page numbers */
    }
</style>


<div class="content">
<div class="container">
    <form action="/exam/{{exam._id}}/attach-question" method="GET">
    <div class="input-group">
      <input type="text" class="form-control" placeholder="Search Questions" name="search" value="{{search}}">
      <div class="input-group-append">
        <button class="btn btn-outline-secondary" type="submit">Search</button>
      </div>
    </div>
  </form>
  <form action="/exam/{{exam._id}}/attach-question" method="POST">
    <div class="row">
      {{#each categories}}
      <div class="col-md-4">
        <div class="card mb-3">
          <div class="card-header">{{this.category.name}}</div>
          <div class="card-body">
            <div class="form-group">
              <label for="questionId">Select a question:</label>
              <select name="questionId" id="questionId" class="form-control">
                {{#each this.questions}}
                <option value="{{this._id}}">{{this.question}}</option>
                {{/each}}
              </select>
            </div>
          </div>
        </div>
      </div>
      {{/each}}
    </div>
    <div class="pagination">
      {{#if totalPages}}
      <ul class="pagination">
        {{#if previousPage}}
        <li class="page-item">
          <a class="page-link" href="?page={{previousPage}}">Previous</a>
        </li>
        {{/if}}
        {{#each paginationNumbers}}
        <li class="page-item {{#if this.isActive}}active{{/if}}">
          <a class="page-link" href="?page={{this.number}}">{{this.number}}</a>
        </li>
        {{/each}}

        {{#if nextPage}}
        <li class="page-item">
          <a class="page-link" href="?page={{nextPage}}">Next</a>
        </li>
        {{/if}}
      </ul>
      {{/if}}
    </div>
    <button type="submit" class="btn btn-primary">Attach Question</button>
  </form>
</div>
</div>
{{> footer}}