{{> header}}

<div class="container">
  <h1>Create Exam</h1>

  <form action="/exam/createExam" method="POST">
    <div class="form-group">
      <label for="name">Name:</label>
      <input type="text" class="form-control" id="name" name="name" required>
    </div>

    <div class="form-group">
      <label for="description">Description:</label>
      <textarea class="form-control" id="description" name="description" rows="3" required></textarea>
    </div>

    <div class="form-group">
      <label for="subject">Subject:</label>
      <select class="form-control" id="subject" name="subject" required>
        {{#each subjects}}
          <option value="{{this._id}}">{{this.name}}</option>
        {{/each}}
      </select>
    </div>

    <div class="form-group">
      <label for="program">Program:</label>
      <select class="form-control" id="program" name="program" required>
        {{#each programs}}
          <option value="{{this._id}}">{{this.name}}</option>
        {{/each}}
      </select>
    </div>

    <div class="form-group">
      <label for="academicTerm">Academic Term:</label>
      <select class="form-control" id="academicTerm" name="academicTerm" required>
        {{#each academicTerms}}
          <option value="{{this._id}}">{{this.name}}</option>
        {{/each}}
      </select>
    </div>

    <div class="form-group">
      <label for="duration">Duration:</label>
      <input type="text" class="form-control" id="duration" name="duration" required>
    </div>

    <div class="form-group">
      <label for="examDate">Exam Date:</label>
      <input type="date" class="form-control" id="examDate" name="examDate" required>
    </div>

    <div class="form-group">
      <label for="examTime">Exam Time:</label>
      <input type="time" class="form-control" id="examTime" name="examTime" required>
    </div>

    <div class="form-group">
      <label for="examType">Exam Type:</label>
      <input type="text" class="form-control" id="examType" name="examType" required>
    </div>


    <div class="form-group">
      <label for="academicYear">Academic Year:</label>
      <select class="form-control" id="academicYear" name="academicYear" required>
        {{#each academicYears}}
          <option value="{{this._id}}">{{this.name}}</option>
        {{/each}}
      </select>
    </div>

    <div class="form-group">
      <label for="classLevel">Class Level:</label>
      <select class="form-control" id="classLevel" name="classLevel" required>
        {{#each classLevels}}
          <option value="{{this._id}}">{{this.name}}</option>
        {{/each}}
      </select>
    </div>

    <button type="submit" class="btn btn-primary">Create Exam</button>
  </form>
</div>
