{{> header}}

<div class="content">
    <div class="row">
        <div class="col-md-offset-1 col-md-12">
            <div class="panel">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col col-sm-3 col-xs-12">
                            <h4 class="title">Exam {{teacher}} <span>List</span></h4>
                        </div>
                        <div class="col-sm-9 col-xs-12 text-right">
                            <form action="/exam/search" method="GET" class="form-inline float-right">
                                <div class="input-group" style=";">
                                    <input type="text" name="search" class="form-control form-control-sm flex-fill"
                                        placeholder="Search">
                                    <div class="input-group-append">
                                        <button type="submit" class="btn btn-primary btn-sm"
                                            style="margin-left: 10px;">Search</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="col-sm-12 col-xs-12 text-right" style="margin-top: 10px;">
                            <div class="btn_group text-right" style="margin-top: 10px;">
                                <a href="/exam/createExam" class="btn btn-default">Create Exam</a>
                            
                                <a class="btn btn-default" href="/exam/create-exam" style="margin-left: 10px;">Create auto exam</a>

                            </div>
                        </div>



                    </div>
                </div>
                <div class="panel-body table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Name</th>

                                <th scope="col">academicYear</th>
                                <th scope="col">duration</th>
                                <th scope="col">examDate</th>
                                <th scope="col">examTime</th>
                                <th scope="col">subject</th>
                                <th scope="col">program</th>
                                <th scope="col">Create question and attach-question to exam</th>
                                <th scope="col">Attach question</th>
                                <th scope="col">Export to Word</th>
                                <th scope="col">Action</th>


                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                {{#each exams}}
                            <tr>
                                <td>{{this.name}}</td>

                                <td>{{this.academicYear.name}}</td>
                                <td>{{this.duration}}</td>
                                <td>{{this.examDate}}</td>
                                <td>{{this.examTime}}</td>
                                <td>{{this.subject.name}}</td>
                                <td>{{this.program.name}}</td>
                                <td><a href="/exam/{{this._id}}/add-question" data-tip="add question"><i
                                            class="fas fa-plus"></i></a></td>
                                <td><a href="/exam/{{this._id}}/attach-question" data-tip="add question"><i
                                            class="fas fa-plus"></i></a></td>
                                <td><a href="/exam/{{this.id}}/export-word" class="btn btn-primary">Export to
                                        Word</a></td>
                                <td>
                                    <ul class="action-list">
                                        <li><a href="/exam/{{this._id}}/update" data-tip="edit"><i
                                                    class="fa fa-edit"></i></a></li>
                                        <li><a href="/exam/{{this._id}}/delete" data-tip="delete"><i
                                                    class="fa fa-trash"></i></a></li>
                                        <li><a href="/exam/{{this._id}}" data-tip="view"><i class="fas fa-eye"></i></a>
                                        <li><a href="/exam/{{this._id}}/edit-question" data-tip="add question"><i
                                                    class="fas fa-plus"></i></a></li>
                                    </ul>
                                </td>
                                <!-- Other table data -->
                            </tr>
                            {{/each}}

                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="panel-footer">
                    <div class="row">
                        <div class="col col-sm-6 col-xs-6">showing <b>{{currentPageEntries}}</b> out of
                            <b>{{totalEntries}}</b> entries
                        </div>
                        <div class="col-sm-6 col-xs-6">
                            <ul class="pagination hidden-xs pull-right">
                                {{#if hasPreviousPage}}
                                <li><a href="/exam/index?page={{previousPage}}&search={{search}}">&lt;</a></li>
                                {{/if}}
                                {{#each pages}}
                                <li{{#if current}} class="active" {{/if}}><a
                                        href="/exam/index?page={{this}}&search={{search}}">{{this}}</a></li>
                                    {{/each}}
                                    {{#if hasNextPage}}
                                    <li><a href="/exam/index?page={{nextPage}}&search={{search}}">&gt;</a></li>

                                    {{/if}}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{{> footer}}