{{> header}}

<div class="content">
    <div class="row">
        <div class="col-md-offset-1 col-md-10">
            <div class="panel">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col col-sm-3 col-xs-12">
                            <h4 class="title">Year Group <span>List</span></h4>
                        </div>
                        <div class="col-sm-9 col-xs-12 text-right">
                            <form action="/question/search" method="GET" class="form-inline float-right">
                                <div class="input-group">
                                    <input type="text" name="search" class="form-control form-control-sm flex-fill"
                                        placeholder="Search">
                                    <div class="input-group-append">
                                        <button type="submit" class="btn btn-primary btn-sm">Search</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="col-sm-9 col-xs-12 text-right">
                            <div class="btn_group text-right">
                                <button class="btn btn-default" title="Create">
                                    <a href="/question/create" class="btn btn-primary"><i class="fas fa-plus"></i></a>
                                </button>
                                <button class="btn btn-default" title="Pdf"><i class="fa fa-file-pdf"></i></button>
                                <button class="btn btn-default" title="Excel"><i class="fas fa-file-excel"></i></button>
                            </div>
                        </div>


                    </div>
                </div>
                <div class="panel-body table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Question</th>
                                <th scope="col">Option A</th>
                                <th scope="col">Option B</th>
                                <th scope="col">Option C</th>
                                <th scope="col">Option D</th>
                                <th scope="col">Correct Answer</th>
                                <th scope="col">Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                {{#each questions}}
                            <tr>
                                <td>{{this.question}}</td>
                                <td>{{this.optionA}}</td>
                                <td>{{this.optionB}}</td>
                                <td>{{this.optionC}}</td>
                                <td>{{this.optionD}}</td>
                                <td>{{this.correctAnswer}}</td>
                                <td>
                                    <ul class="action-list">
                                        <li><a href="/question/{{this._id}}/update" data-tip="edit"><i
                                                    class="fa fa-edit"></i></a></li>
                                        <li><a href="/question/{{this._id}}/delete" data-tip="delete"><i
                                                    class="fa fa-trash"></i></a></li>
                                        <li><a href="/question/{{this._id}}/view" data-tip="view"><i
                                                    class="fas fa-eye"></i></a></li>

                                    </ul>
                                </td>
                                <!-- Other table data -->
                            </tr>
                            {{/each}}

                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="panel-footer">
                    <div class="row">
                        <div class="col col-sm-6 col-xs-6">showing <b>5</b> out of <b>25</b> entries</div>
                        <div class="col-sm-6 col-xs-6">
                            <ul class="pagination hidden-xs pull-right">
                                <li><a href="#">
                                        << /a>
                                </li>
                                <li class="active"><a href="#">1</a></li>
                                <li><a href="#">2</a></li>
                                <li><a href="#">3</a></li>
                                <li><a href="#">4</a></li>
                                <li><a href="#">5</a></li>
                                <li><a href="#">></a></li>
                            </ul>
                            <ul class="pagination visible-xs pull-right">
                                <li><a href="#">
                                        << /a>
                                </li>
                                <li><a href="#">></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>  
{{> footer}}
