
{{> header_admin}}

<div class="content">
  <div class="container mt-4">
    <h2>Academic Term Details</h2>
    <table class="table table-striped">
      <tbody>
        <tr>
          <th>Name</th>
          <td>{{academicYear.name}}</td>
        </tr>
        <tr>
          <th>From Year</th>
          <td>{{academicYear.fromYear}}</td>
        </tr>
        <tr>
          <th>To Year</th>
          <td>{{academicYear.toYear}}</td>
        </tr>
        <tr>
          <th>Created By</th>
          <td>{{academicYear.createdBy}}</td>
        </tr>
        <tr>
          <th>Created At</th>
          <td>{{academicYear.createdAt}}</td>
        </tr>
      <a href="/academic-years/index" class="btn btn-primary"> Back</i></a>

        <!-- Additional rows if needed -->
      </tbody>
    </table>
  </div>
</div>
