{{> header}}

<div class="content">

  <div class="row">
    <div class="col-md-offset-1 col-md-10">
      <div class="panel">
        <div class="panel-heading">
          <div class="row">
            <div class="col col-sm-3 col-xs-12">
              <h4 class="title">Grade <span>List</span></h4>
            </div>
            <div class="col-sm-9 col-xs-12 text-right">
              <form action="/exam/search" method="GET" class="form-inline float-right">
                <div class="input-group">
                  <input type="text" name="search" class="form-control form-control-sm flex-fill" placeholder="Search">
                  <div class="input-group-append">
                    <button type="submit" class="btn btn-primary btn-sm">Search</button>
                  </div>
                </div>
              </form>
            </div>
            <div class="col-sm-9 col-xs-12 text-right">
              <div class="btn_group text-right">
                <button class="btn btn-default" title="Create">
                  <a href="/exam/createExam" class="btn btn-primary"><i class="fas fa-plus"></i></a>
                </button>
                <button class="btn btn-default" title="Pdf"><i class="fa fa-file-pdf"></i></button>
                <button class="btn btn-default" title="Excel"><i class="fas fa-file-excel"></i></button>
              </div>
            </div>


          </div>
        </div>
        <div class="panel-body table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th>Student Name</th>
                <th>Result</th>
                <th>Exam Name</th>
                <th>Class Level</th>
                <th>Academic Term</th>
                <th>Academic Year</th>
            </thead>
            <tbody>
              <tr>
                {{#each data}}
              <tr>
                <td>{{this.student.name}}</td>
                <td>{{this.status}}</td>
                <td>{{this.exam.name}}</td>
                <td>{{this.classLevel.name}}</td>
                <td>{{this.academicTerm.name}}</td>
                <td>{{this.academicYear.name}}</td>
                <td>{{this.}}</td>
            
                <!-- Other table data -->
              </tr>
              {{/each}}

              </tr>
            </tbody>
          </table>
        </div>
        <div class="panel-footer">
          <div class="row">
            <div class="col col-sm-6 col-xs-6">showing <b>5</b> out of <b>25</b> entries</div>
            <div class="col-sm-6 col-xs-6">
              <ul class="pagination hidden-xs pull-right">
                <li><a href="#">
                    << /a>
                </li>
                <li class="active"><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">5</a></li>
                <li><a href="#">></a></li>
              </ul>
              <ul class="pagination visible-xs pull-right">
                <li><a href="#">
                    << /a>
                </li>
                <li><a href="#">></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{{> footer}}