{{> header}}

<div class="content">
  <h1>Exam</h1>
  <h2>Exam End Time: {{examEndTime}}</h2>

  <form action="/student/submit/{{exam._id}}" method="POST" id="examForm">
    <h2>Student: {{student.name}}</h2>
    <h3>Instructions: {{exam.instructions}}</h3>
    {{#each exam.questions}}
    <div class="question">
      <h4>{{this.question}}</h4>
      <ul>
        <li>
          <label for="optionA{{@index}}">{{this.optionA}}</label>
          <input type="radio" id="optionA{{@index}}" name="answers[{{@index}}]" value="{{this.optionA}}">
        </li>
        <li>
          <label for="optionB{{@index}}">{{this.optionB}}</label>
          <input type="radio" id="optionB{{@index}}" name="answers[{{@index}}]" value="{{this.optionB}}">
        </li>
        <li>
          <label for="optionC{{@index}}">{{this.optionC}}</label>
          <input type="radio" id="optionC{{@index}}" name="answers[{{@index}}]" value="{{this.optionC}}">
        </li>
        <li>
          <label for="optionD{{@index}}">{{this.optionD}}</label>
          <input type="radio" id="optionD{{@index}}" name="answers[{{@index}}]" value="{{this.optionD}}">
        </li>
      </ul>
    </div>
    {{/each}}
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>

{{> footer}}

<script>
  var endTime = new Date('{{examEndTime}}');
  var duration = '{{exam.duration}}';
  var durationParts = duration.split(':');
  var durationInMinutes = parseInt(durationParts[0]) * 60 + parseInt(durationParts[1]);

  var timeLeft = endTime - new Date(); // in milliseconds

  if (timeLeft <= durationInMinutes * 60 * 1000) {
    setTimeout(function() {
      document.getElementById('examForm').submit();
    }, timeLeft);
  }
</script>
