{{> header}}

<div class="content">
  <h1>Exam</h1>
  <h2 id="remainingTime"></h2>

  <form action="/student/submit/{{exam._id}}" method="POST" id="examForm">
    <h2>Student: {{student.name}}</h2>
    <h3>Instructions: {{exam.instructions}}</h3>
    {{#each exam.questions}}
    <div class="question">
      <h4>{{this.question}}</h4>
      <ul>
        <li>
          <label for="optionA{{@index}}">{{this.optionA}}</label>
          <input type="radio" id="optionA{{@index}}" name="answers[{{@index}}]" value="{{this.optionA}}">
        </li>
        <li>
          <label for="optionB{{@index}}">{{this.optionB}}</label>
          <input type="radio" id="optionB{{@index}}" name="answers[{{@index}}]" value="{{this.optionB}}">
        </li>
        {{#if this.optionC}}
        <li>
          <label for="optionC{{@index}}">{{this.optionC}}</label>
          <input type="radio" id="optionC{{@index}}" name="answers[{{@index}}]" value="{{this.optionC}}">
        </li>
        {{/if}}
        {{#if this.optionD}}
        <li>
          <label for="optionD{{@index}}">{{this.optionD}}</label>
          <input type="radio" id="optionD{{@index}}" name="answers[{{@index}}]" value="{{this.optionD}}">
        </li>
        {{/if}}
      </ul>
    </div>
    {{/each}}
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>

{{> footer}}


<script>
  // Function to update the remaining time
  function updateRemainingTime() {
    var currentTime = new Date();
    var endTime = new Date('{{examEndTime}}');
    var timeLeft = endTime - currentTime; // in milliseconds

    // Convert timeLeft to minutes and seconds
    var minutes = Math.floor(timeLeft / (60 * 1000));
    var seconds = Math.floor((timeLeft % (60 * 1000)) / 1000);

    // Display the remaining time in the HTML
    document.getElementById('remainingTime').innerText = 'Time Remaining: ' + minutes + 'm ' + seconds + 's';

    // Check if time is up and submit the form
    if (timeLeft <= 0) {
      document.getElementById('examForm').submit();
    }
  }

  // Update the remaining time every second
  setInterval(updateRemainingTime, 1000);
  
  // Initial call to set the remaining time when the page loads
  updateRemainingTime();
</script>

